@using IMIS_CORE.Core

@model IMIS_Service.ViewModel.ReceiptDistributionCenterVM
    <div>
        <input asp-for="Counterid" type="hidden" />
        <div class="form-group is-empty">
            <label for="region" class="col-md-2 control-label">@Utils.GetLabel("Code")<span class="requried">*</span></label>
            <div class="col-md-9">
                <input type="text" class="form-control" asp-for="Code">
            </div>
        </div>
        <div class="form-group is-empty">
            <label for="region" class="col-md-2 control-label">
                @Utils.GetLabel("Counter Name")<span class="requried">*</span>
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" asp-for="Nepname">
            </div>
        </div>

        <div class="form-group is-empty">
            <label for="region" class="col-md-2 control-label">
                @Utils.GetLabel("Computer Name")<span class="requried">*</span>
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" asp-for="CmptrName">
            </div>
        </div>


        <div class="form-group is-empty">
            <label for="short-name" class="col-md-2 control-label">
                @Utils.GetLabel("Counter Head Id")
            </label>
            <div class="col-md-6">
                <input type="text" class="form-control" asp-for="Counterheadid">
            </div>

        </div>
        <div class="form-group is-empty">
            <label for="short-name" class="col-md-2 control-label">
                @Utils.GetLabel("Ward No")
            </label>
            <div class="col-md-6">
                <select asp-for="Wardno">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>

        </div>
        <div class="form-group is-empty">
            <label for="short-name" class="col-md-2 control-label">
                @Utils.GetLabel("Location")
            </label>
            <div class="col-md-6">
                <input type="text" class="form-control" asp-for="Location">
            </div>
        </div>
        <div class="form-group is-empty">
            <label for="short-name" class="col-md-2 control-label">
                @Utils.GetLabel("Special Note")
            </label>
            <div class="col-md-6">
                <input type="text" class="form-control" asp-for="Specialnotes">
            </div>
        </div>
    </div>