@using IMIS_CORE.Core
@{
    Layout = null;
}
@model IMIS_Service.ViewModel.ItemCategoriesVM
<div class="row">
    <div class="col-md-12">
        <div class="well">
            <form method="post" asp-action="ItemCategoryCreate" asp-controller="ItemCategory">
                @if (Model != null)
                {
                    <input type="hidden" asp-for="Id" />
                }
                <div class="form-group">
                    <label for="code" class="col-md-2 control-label">@Utils.GetLabel("Parent Category")<span class="requried">*</span></label>
                    <div class="col-md-7">
                        <select asp-for="ParentId" asp-items="@ViewData["ParentCategory"] as SelectList" class="form-control">
                            <option value="0">@Utils.GetLabel("Root")</option>
                        </select>
                    </div>
                </div>
                <div class="form-group is-empty">
                    <label for="region" class="col-md-2 control-label">
                        @Utils.GetLabel("Description(English)")<span class="requried">*</span>
                    </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" asp-for="NameEn">
                    </div>
                </div>
                <div class="form-group is-empty">
                    <label for="region" class="col-md-2 control-label">
                        @Utils.GetLabel("Description(Nepali)")<span class="requried">*</span>
                    </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" asp-for="NameNp" onkeypress="return setUnicode(event,this);">
                    </div>
                </div>
                <div class="form-group is-empty">
                    <label for="region" class="col-md-2 control-label">
                        @Utils.GetLabel("Description(Code)")<span class="requried">*</span>
                    </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" asp-for="Code">
                    </div>
                </div>
                <div class="form-group is-empty">
                    <label for="region" class="col-md-2 control-label">
                        @Utils.GetLabel("Description(DepreciationPer)")<span class="requried">*</span>
                    </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" asp-for="DepreciationPer">
                    </div>
                </div>

                <div class="form-group is-empty">
                    <label for="region" class="col-md-2 control-label">
                        @Utils.GetLabel("Description(Isexp)")<span class="requried">*</span>
                    </label>
                    <div class="col-md-9">
                        <input type="checkbox" class="form-control" asp-for="Isexp">
                    </div>
                </div>

                <div class="form-group is-empty">
                    <label for="short-name" class="col-md-2 control-label">
                        @Utils.GetLabel("Nutuam has kati mulya")
                    </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" asp-for="Rminl">
                    </div>

                </div>
                <div class="form-group is-empty">
                    <label for="short-name" class="col-md-2 control-label">
                        @Utils.GetLabel("Atikam has kati mulya")
                    </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" asp-for="Rmaxl">
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>