@using IMIS_CORE.Core
@{
    ViewData["Title"] = "ItemCategoryList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<style>
    td.details-control {
        background: url('https://www.datatables.net/examples/resources/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('https://www.datatables.net/examples/resources/details_close.png') no-repeat center center;
    }
</style>

<body>

    <!-- Navigation -->
    <div id="page-wrapper">
        <div class="container-fluid">

            <div class="tab-lists-wrapper boxed parentTabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#region-tab">Item Category List</a> </li>
                </ul>

                <div class="tab-content">

                    <!-- tab 1: region starts -->
                    <div class="tab-pane fade active in" id="region-tab">
                        <!-- generic add button for all the "add" forms | Add region -->
                        <a href="@Url.Content("~/{0}/ItemCategoryCreate.html")" class="btn btn-primary btn-fab add"><i class="material-icons">add</i></a>
                        <a href="#searchCollapse" class="btn btn-warning btn-fab search" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="searchCollapse"> <i class="material-icons search">search</i><i class="material-icons close">close</i></a>

                        <!-- search filters -->
                        <div class="collapse" id="searchCollapse">
                            <div class="well">
                                <div class="form-group">
                                    <div class="col-sm-3 ">
                                        <input type="text" class="form-control" placeholder=@Utils.GetLabel("Name")>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" placeholder=@Utils.GetLabel("Name(Nepali)")>
                                    </div>
                                    <div class="col-sm-1 pull-right"><a href="#" class="btn btn-default form-modal-call"><i class="material-icons">search</i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="account" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>@Utils.GetLabel("Id")</th> 
                                        <th>@Utils.GetLabel("Description(Nepali)")</th> 
                                        <th>@Utils.GetLabel("Description(English)")</th> 
                                        <th>@Utils.GetLabel("Code")</th>
                                        <th>@Utils.GetLabel("Depreciation Max")</th>
                                        <th>@Utils.GetLabel("Depreciation Min")</th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>

    <div id="add" hidden>

    </div>
    <!-- /#page-wrapper -->
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="js/plugins/script.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>

<script lang="ja" type="text/javascript">

$(document).ready(function() {
    var table = $('#account').DataTable({
        "bProcessing": true,
        "processing": true,
        "serverSide": true,
        "dom": 'r<"clear">t<"row"<"col-sm-3"l><"col-sm-3"i><"col-sm-3"p>><"clear">',
        'searching': true,//recordsFiltered
		"ajax": {
            "url": "@Url.Content("~/ItemCategoryFetchData.html")", "type": "GET", "data": function (d) {
                d.search = $("#usersearch").val();

            },
          },
      "columns": [
            {
                "className":'details-control',
                "orderable":false,
                "data":null,
                "defaultContent": ''
            },
            { "data": "id", "orderable": true }, 
            { "data": "nameNp", "orderable": true },
            { "data": "nameEn", "orderable": true },
            { "data": "code", "orderable": true },
            { "data": "rmaxl", "orderable": true },
            { "data": "rminl", "orderable": true }, 

        ],
      'createdRow': function (row, data, dataIndex) {
                $(row).attr('id', data.id);  
                     //var button = "<input id='btnDetails' class='btn btn-success' width='20px' value='Re-Open' />";
                     jQuery('td:last', row).after('<td><input type="button" name="addchildlevel" id=' + data.id + ' class="btn btn-success btnchild" font-size="7px" font-weight="50" width="7px" value="Add Child Level"/></td>');
                
            },
	});
    // Add event listener for opening and closing details
    $('#account tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );

        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            $('#add').html('').empty();
            d = row.data();
            var data = d.itemCatSub;
            for (var i = 0; i < data.length; i++) {
                var url = '/' + data[i].id + '/ItemCategoryEdit.html';
                //jQuery('td:last-child', row).html("<a href=" + url + " title='Edit unit' data-toggle='tooltip'><i class='fa fa-edit'></i></a>");
                //jQuery('[data-toggle="tooltip"]').tooltip();
                $('#add').append('<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;"><tr><td>Id:</td><td>' + data[i].nameEn + '</td> ' + "<td><a href=" + url + " title='Edit unit' data-toggle='tooltip'><i class='fa fa-edit'></i></a></td>" + '</tr></table>');
             }
            row.child($('#add').html()).show();
            tr.addClass('shown');
        }
    });


    jQuery(document).on("click", ".btnchild", function () { 
        var parent= $(this).attr("id");  
        window.location.href ='/' +parent +'/ItemCategoryCreate.html';  
    })

   });

</script>









