@inject IMIS_Service.IMenuService.MenuService _menuService
@using IMIS_CORE.Core;
@{
    var mainlist = await _menuService.menuVM();

    if (mainlist.Count > 0)
    {
        foreach (var mnuitm in mainlist)
        //for (int i = 0; i < mainlist.Count; i++)
        {
            string dispalyName = Utils.ToggleLanguage(mnuitm.DisplayName, mnuitm.NepName);
            <li class="treeview">
                <a>
                    <i class="@mnuitm.Icon"></i>@dispalyName

                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>

                @{
                    if (mnuitm.MenuSubMenu.Count > 0)
                    {
                        <ul class="treeview-menu">
                            @foreach (var submenuitem in mnuitm.MenuSubMenu)
                            {
                                 
                                @if (submenuitem.MenuSubMenu.Count > 0)
                                {
                                    string dispalySubName = Utils.ToggleLanguage(submenuitem.DisplayName, submenuitem.NepName);
                                    <li class="treeview">
                                        <a>
                                            <i class="@submenuitem.Icon"></i>@dispalySubName

                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            @foreach (var subsubmenuitem in submenuitem.MenuSubMenu)
                                            { 
                                                <li id="@subsubmenuitem.Id" class="actMenChild">
                                                    <a href="~/@Url.Content(subsubmenuitem.MenuUrl)">
                                                        <i class="@subsubmenuitem.Icon"></i>@Utils.ToggleLanguage(subsubmenuitem.DisplayName, subsubmenuitem.NepName)
                                                    </a>
                                                </li>
                                            }
                                        </ul>

                                    </li>
                                }
                                else
                                { 
                                    <li id="@submenuitem.Id" class="actMenChild">
                                        <a href="~/@Url.Content(submenuitem.MenuUrl)">
                                            <i class="@submenuitem.Icon"></i>@Utils.ToggleLanguage(submenuitem.DisplayName, submenuitem.NepName)
                                        </a>
                                    </li>
                                }


                            }
                        </ul>
                    }
                }
            </li>
        }
    }
}

