@using IMIS_CORE.Core

@model IMIS_Service.ViewModel.BankDtlVM
    <div>
        <div class="form-group is-empty">
            <label for="region" class="col-md-2 control-label">
                @Utils.GetLabel("Code")<span class="requried">*</span>
            </label>
            <div class="col-md-9">
                @if (Model.Bankid > 0)
                {
                    <span>@Model.Code</span>
                }
                else
                {

                    <input type="text" class="form-control" asp-for="Code">
                }

            </div>
        </div>

        <div class="form-group is-empty">
            <label for="region" class="col-md-2 control-label">
                @Utils.GetLabel("Bank Name")<span class="requried">*</span>
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" asp-for="Bankname">
            </div>
        </div>
        <div class="form-group is-empty">
            <label for="region" class="col-md-2 control-label">
                @Utils.GetLabel("Sub Module")<span class="requried">*</span>
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" asp-for="SubModuleId">
            </div>
        </div>


        <div class="form-group is-empty">
            <label for="short-name" class="col-md-2 control-label">
                @Utils.GetLabel("Acc. No.")
            </label>
            <div class="col-md-6">
                <input type="text" class="form-control" asp-for="Accountnumber">
            </div>

        </div>
        <div class="form-group is-empty">
            <label for="short-name" class="col-md-2 control-label">
                @Utils.GetLabel("Name(Eng)")
            </label>
            <div class="col-md-6">
                <input type="text" class="form-control" asp-for="Engname">
            </div>

        </div>
        <div class="form-group is-empty">
            <label for="short-name" class="col-md-2 control-label">
                @Utils.GetLabel("Address")
            </label>
            <div class="col-md-6">
                <input type="text" class="form-control" asp-for="Address">
            </div>
        </div>
        <div class="form-group is-empty">
            <label for="short-name" class="col-md-2 control-label">
                @Utils.GetLabel("Phone No.")
            </label>
            <div class="col-md-6">
                <input type="text" class="form-control" asp-for="Phones">
            </div>
        </div>
        <div class="form-group is-empty">
            <label for="short-name" class="col-md-2 control-label">
                @Utils.GetLabel("E-mail")
            </label>
            <div class="col-md-6">
                <input type="text" class="form-control" asp-for="Emails">
            </div>
        </div>
        <div class="form-group is-empty">
            <label for="short-name" class="col-md-2 control-label">
                @Utils.GetLabel("Branch")
            </label>
            <div class="col-md-6">
                <input type="text" class="form-control" asp-for="Branchcode">
            </div>
        </div>
    </div>