@using IMIS_CORE.Core
@model IMIS_Service.ViewModel.ItemMasterVM
@using IMIS_CORE.EnumHelper
<div>
    <div class="form-group">

        <div class="col-md-6">
            <label for="code" class="col-md-3 control-label" control-label">
                @Utils.GetLabel("Fuel Repair Details")<span class="requried">*</span>
            </label>
            <div class="col-md-6">
                <select class="form-control" asp-for="VehiclePartsId" asp-items="Model.fuelmaintenance">
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <label for="code" class="col-md-3 control-label" control-label">
                @Utils.GetLabel("Inv Acc No")<span class="requried">*</span>
            </label>
            <div class="col-md-6">
                <input type="text" class="form-control" asp-for="Code">
            </div>
        </div>
    </div>
    <div class="form-group">

        <div class="col-md-6">
            <label for="code" class="col-md-3 control-label" control-label">
                @Utils.GetLabel("Description")<span class="requried">*</span>
            </label>
            <div class="col-md-6">
                <input type="text" class="form-control" asp-for="NameNp" onkeypress="return setUnicode(event,this);" />
            </div>
        </div>
        <div class="col-md-6">
            <label for="code" class="col-md-3 control-label" control-label">
                @Utils.GetLabel("In English")<span class="requried">*</span>
            </label>
            <div class="col-md-6">
                <input type="text" asp-for="NameEn" class="form-control">
            </div>
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-6">
            <label for="code" class="col-md-3 control-label" control-label">
                @Utils.GetLabel("Unit")<span class="requried">*</span>
            </label>
            <div class="col-md-2">
                <input type="text" class="form-control" asp-for="Unit" />
            </div>
            <div class="col-md-4">
                <select class="form-control" asp-for="UnitId" asp-items="Model.unitlist">
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <label for="code" class="col-md-3 control-label" control-label">
                @Utils.GetLabel("Major Class")<span class="requried"></span>
            </label>
            <div class="col-md-2">
                <input type="text" class="form-control" asp-for="ItemMainClass">
            </div>
            <div class="col-md-4">
                <select class="form-control" asp-for="ItemMainClass" asp-items="Model.ItemCategorylist">
                </select>
            </div>

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6">
            <label for="code" class="col-md-3 control-label" control-label">
                @Utils.GetLabel("Inv Type")<span class="requried">*</span>
            </label>
            <div class="col-md-2">
                <input type="text" class="form-control" asp-for="ItemType" />
            </div>
            <div class="col-md-4">
                <select class="form-control" asp-for="ItemType" asp-items="Model.ItemSubCategoryList">
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <label for="code" class="col-md-3 control-label" control-label">
                @Utils.GetLabel("Item Nature")<span class="requried"></span>
            </label>
            <div class="col-md-2">
                <input type="text" class="form-control" asp-for="ItemNature">
            </div>
            <div class="col-md-4">
                <select class="form-control" asp-for="ItemNature" asp-items="Model.ItemSubCategoryList">
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6">
            <label for="code" class="col-md-3 control-label" control-label">
                @Utils.GetLabel("Made Company")<span class="requried"></span>
            </label>
            <div class="col-md-6">
                <input type="text" class="form-control" asp-for="Companyname">
            </div>
        </div>
        <div class="col-md-6">
            <label for="code" class="col-md-3 control-label" control-label">
                @Utils.GetLabel("Made Country")<span class="requried">*</span>
            </label>
            <div class="col-md-2">
                <input type="text" class="form-control" asp-for="Countryid" />
            </div>
            <div class="col-md-4">
                <select class="form-control" asp-for="Countryid" asp-items="Model.CountryList">
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">

        <div class="col-md-6">
            <label for="code" class="col-md-3 control-label" control-label">
                @Utils.GetLabel("Received Source")<span class="requried"></span>
            </label>
            <div class="col-md-6">
                <input type="text" class="form-control" asp-for="Source" />
            </div>
        </div>

    </div>

    <div class="form-group">
        <div class="col-md-3">
            <label for="code" class="col-md-3 control-label" control-label">
                @Utils.GetLabel("Estimated Age")<span class="requried"></span>
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-3">
            <label for="code" class="col-md-3 control-label" control-label">
                @Utils.GetLabel("Size")<span class="requried"></span>
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" asp-for="Sizes">
            </div>
        </div>
        <div class="col-md-3">
            <label for="code" class="col-md-3 control-label" control-label">
                @Utils.GetLabel("Upper Limit")<span class="requried"></span>
            </label>
            <div class="col-md-9">
                <input type="text" asp-for="Maxl" />
            </div>
        </div>
        <div class="col-md-3">
            <label for="code" class="col-md-3 control-label" control-label">
                @Utils.GetLabel("Lower Limit")<span class="requried"></span>
            </label>
            <div class="col-md-9">
                <input type="text" asp-for="Minl" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            <label for="code" class="col-md-3 control-label" control-label">
                @Utils.GetLabel("Current Upper Limit")<span class="requried"></span>
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" asp-for="Rmaxl">
            </div>
        </div>
        <div class="col-md-3">
            <label for="code" class="col-md-3 control-label" control-label">
                @Utils.GetLabel("Current Lower Limit")<span class="requried"></span>
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" asp-for="Rminl">
            </div>
        </div>
        <div class="col-md-3">
            <label for="code" class="col-md-3 control-label" control-label">
                @Utils.GetLabel("Depreciation") %<span class="requried"></span>
            </label>
            <div class="col-md-9">
                <input type="text" asp-for="Depreciation" />
            </div>
        </div>
        <div class="col-md-3">
            <label for="code" class="col-md-3 control-label" control-label">
                @Utils.GetLabel("Min Depre. Amt")<span class="requried"></span>
            </label>
            <div class="col-md-9">
                <input type="text" asp-for="Minrate" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6">
            <label for="code" class="col-md-3 control-label" control-label">
                @Utils.GetLabel("Land Description")<span class="requried"></span>
            </label>
            <div class="col-md-6">
                <select class="form-control" asp-for="Landid" asp-items="Model.landdesc">
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <label for="code" class="col-md-3 control-label" control-label">
                @Utils.GetLabel("Price of House/Land")<span class="requried"></span>
            </label>
            <div class="col-md-6">
                <input type="text" class="form-control" asp-for="LandMarketRate">
            </div>
        </div>


    </div>


    <div class="form-group">
        <div class="col-md-6">
            <label for="code" class="col-md-3 control-label" control-label">
                @Utils.GetLabel("Max Depre. Amt")<span class="requried"></span>
            </label>
            <div class="col-md-6">
                <input type="text" asp-for="Depmaxrate" />
            </div>
        </div>
        <div class="col-md-6">
            <label for="code" class="col-md-3 control-label" control-label">
                @Utils.GetLabel("Property Classification")<span class="requried"></span>
            </label>
            <div class="col-md-6">
                <select class="form-control" asp-for="Propertytype" asp-items="@EnumToList.EnumSelectlist<EnumHelper.PropertyClassfication>(true)">
                </select>
            </div>
        </div>

    </div>


    <div class="form-group">
        <div class="col-md-6">
            <label for="code" class="col-md-3 control-label" control-label">
                @Utils.GetLabel("Current Market Price Of House/Land")<span class="requried"></span>
            </label>
            <div class="col-md-6">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <label for="code" class="col-md-3 control-label" control-label">
                @Utils.GetLabel("Remarks")<span class="requried"></span>
            </label>
            <div class="col-md-6">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <label for="code" class="col-md-3 control-label" control-label">
                    @Utils.GetLabel("Kita No")<span class="requried"></span>
                </label>
                <div class="col-md-6">
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="col-md-6">
                <label for="code" class="col-md-3 control-label" control-label">
                    @Utils.GetLabel("Land Site")<span class="requried"></span>
                </label>
                <div class="col-md-6">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-6">
                <label for="code" class="col-md-3 control-label" control-label">
                    @Utils.GetLabel("Account Title")<span class="requried"></span>
                </label>
                <div class="col-md-6">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <label for="code" class="col-md-3 control-label" control-label">
                    @Utils.GetLabel("Budget Title")<span class="requried"></span>
                </label>
                <div class="col-md-6">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                @Utils.GetLabel("Enter The Area Of Land")
            </div>
            <div class="panel-body">
                <div class=" col-md-12 row">
                    <div class="form-group col-md-1">
                        <label class="font_field">
                            @Utils.GetLabel("Ropani")
                        </label>
                            <input type="text" class="form-control font_value" />
                            <span class="text-danger"></span>
                         </div>
                        <div class=" form-group col-md-1"> 
                            <label class="font_field">
                                @Utils.GetLabel("Aana")
                            </label>
                                 <input type="text" class="form-control font_value" />
                                <span class="text-danger"></span>
                         </div>
                        <div class="form-group col-md-1">

                            <label class="font_field">
                                @Utils.GetLabel("Paisa")
                            </label>
                                 <input type="text" class="form-control font_value" />
                                <span class="text-danger"></span>
                          </div>
                        <div class="form-group col-md-1">

                            <label class="font_field">
                                @Utils.GetLabel("Dam")
                            </label>
                                  <input type="text" class="form-control font_value" />
                                <span class="text-danger"></span>
                         </div>
                        <div class="form-group col-md-1">

                            <label class="font_field">
                                @Utils.GetLabel("Bigha")
                            </label>
                                 <input type="text" class="form-control font_value" />
                                <span class="text-danger"></span>
                         </div>
                        <div class="form-group col-md-1">

                            <label class="font_field">
                                @Utils.GetLabel("Katha")
                            </label>
                                 <input type="text" class="form-control font_value" />
                                <span class="text-danger"></span>
                          </div>
                        <div class="form-group col-md-1">

                            <label class="font_field">
                                @Utils.GetLabel("Dhur")
                            </label>
                                 <input type="text" class="form-control font_value" />
                                <span class="text-danger"></span>
                          </div>
                        <div class="form-group col-md-1">

                            <label class="font_field">
                                @Utils.GetLabel("Kanwa")
                            </label>
                                 <input type="text" class="form-control font_value" />
                                <span class="text-danger"></span>
                          </div>
                        <div class="form-group col-md-1">

                            <label class="font_field">
                                @Utils.GetLabel("Kanwaen")
                            </label>
                                 <input type="text" class="form-control font_value" />
                                <span class="text-danger"></span>
                         </div>

                    </div>

            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                @Utils.GetLabel("Description Area of House")
            </div>
            <div class="panel-body">

                <div class="col-md-12 row">
                    <div class="form-group col-md-3">
                        
                    </div>
                    <div class="form-group col-md-3"> 
                            <label class="font_field">@Utils.GetLabel("Feet")</label> 
                    </div>
                    <div class="form-group col-md-3">
                             <label class="font_field">@Utils.GetLabel("Inch")</label>
                         
                    </div>
                    <div class="form-group col-md-3"> 
                            <label class="font_field">@Utils.GetLabel("Meter")</label> 
                    </div>

                </div>

                <div class="col-md-12 row">
                    <div class="col-md-3 form-group">
                        
                            <label class="font_field">@Utils.GetLabel("Length")</label>
                         
                    </div>
                    <div class="form-group col-md-3">
                        
                            <input type="text" class="form-control font_value" />
                            <span class="text-danger"></span>
                        
                    </div>
                    <div class="form-group col-md-3">
                         
                            <input type="text" class="form-control font_value" />
                            <span class="text-danger"></span>
                       
                    </div>
                    <div class="form-group col-md-3"> 
                            <input type="text" class="form-control font_value" />
                            <span class="text-danger"></span> 
                    </div> 
                </div>

                <div class="col-md-12 row">
                    <div class="form-group col-md-3">
                       
                            <label class="font_field">@Utils.GetLabel("Width")</label>
                         
                    </div>
                    <div class="form-group col-md-3">
                        
                            <input type="text" class="form-control font_value" />
                            <span class="text-danger"></span>
                         
                    </div>
                    <div class="form-group col-md-3">
                        
                            <input type="text" class="form-control font_value" />
                            <span class="text-danger"></span>
                         
                    </div>
                    <div class="form-group col-md-3">
                        
                            <input type="text" class="form-control font_value" />
                            <span class="text-danger"></span>
                         
                    </div>

                </div>
                <div class="col-md-12 row">
                    <div class="form-group col-md-3">
                         
                            <label class="font_field">@Utils.GetLabel("Height")</label>

                        </div>
                     
                    <div class="form-group col-md-3">
                       
                            <input type="text" class="form-control font_value" />
                            <span class="text-danger"></span>
                         
                    </div>
                    <div class="form-group col-md-3">
                         
                            <input type="text" class="form-control font_value" />
                            <span class="text-danger"></span>
                        
                    </div>
                    <div class="form-group col-md-3">
                         
                            <input type="text" class="form-control font_value" />
                            <span class="text-danger"></span>
                        
                    </div>

                </div>

                <div class="col-md-12 row">
                    <div class="form-group col-md-3">
                       
                            <label class="font_field">@Utils.GetLabel("Area")</label>
                         
                    </div>
                    <div class="form-group col-md-3">
                        
                            <input type="text" class="form-control font_value" />
                            <span class="text-danger"></span>
                         
                    </div>
                    <div class="form-group col-md-3">
                         
                            <input type="text" class="form-control font_value" />
                            <span class="text-danger"></span>
                         
                    </div>
                    <div class="form-group col-md-3">
                         
                            <input type="text" class="form-control font_value" />
                            <span class="text-danger"></span>
                        
                    </div>

                </div>

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <label for="code" class="col-md-3" control-label">
                    @Utils.GetLabel("Structure Type")<span class="requried"></span>
                </label>
                <div class="col-md-6">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>

    </div>
