@using IMIS_CORE.Core

@model IMIS_Service.ViewModel.RoomDetialsVM
    <div>

        <div class="form-group is-empty">
            <label for="region" class="col-md-2 control-label">
                @Utils.GetLabel(" Room Description(English)")<span class="requried">*</span>
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" asp-for="DescEn">
            </div>
        </div>
        <div class="form-group is-empty">
            <label for="region" class="col-md-2 control-label">
                @Utils.GetLabel("Room Description(Nepali)")<span class="requried">*</span>
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" asp-for="DescNp" onkeypress="return setUnicode(event,this);">
            </div>
        </div>
        <div class="form-group is-empty">
            <label for="region" class="col-md-2 control-label">
                @Utils.GetLabel("Floor No.")<span class="requried">*</span>
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" asp-for="FloorNo">
            </div>
        </div>
        <div class="form-group is-empty">
            <label for="region" class="col-md-2 control-label">
                @Utils.GetLabel("Block No.")<span class="requried">*</span>
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" asp-for="BlockNo">
            </div>
        </div>
        @*drop Box*@
        <div class="form-group is-empty">
            <label for="region" class="col-md-2 control-label">
                @Utils.GetLabel("Branch")<span class="requried">*</span>
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" asp-for="DeptId">
            </div>
        </div>

    </div>