@using IMIS_CORE.Core
@{
    ViewData["Title"] = "CivilServicesCreate";
    Layout = null;
}
@model IMIS_Service.ViewModel.CivilServicesVM
<div class="row">
    <div class="col-md-12">
        <div class="well">
            <form method="post" asp-action="CivilServicesCreate">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label for="code" class="col-md-2 control-label">@Utils.GetLabel("Parent CivilServices")<span class="requried">*</span></label>
                    <div class="col-md-7">
                        <select asp-for="ParentId" asp-items="@ViewData["ParentCivilServices"] as SelectList" class="form-control">
                            <option value="0">@Utils.GetLabel("Root")</option>
                        </select>
                    </div>
                </div> 
                    <input type="hidden" asp-for="Id"/> 
                <div class="form-group is-empty">
                    <label for="region" class="col-md-2 control-label">@Utils.GetLabel("Name(Eng)")<span class="requried">*</span></label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" asp-for="NameEn">
                    </div>
                </div>
                <div class="form-group is-empty">
                    <label for="region" class="col-md-2 control-label">@Utils.GetLabel("Name(Nep)")<span class="requried">*</span></label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" asp-for="NameNp" onkeypress="return setUnicode(event,this);">
                    </div>
                </div>
                
                <div class="form-group form-action">
                    <div class="col-md-10 col-md-offset-2">
                        <button type="submit" class="btn btn-primary">@Utils.GetLabel("Submit")</button>
                        <button type="button" class="btn btn-default btn-close">@Utils.GetLabel("Cancel")</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>