@using IMIS_CORE.Core
@{
    Layout = null;
}
@model IMIS_Service.ViewModel.AccountHeaderVM
<div class="row">
    <div class="col-md-12">
        <div class="well">
            <form method="post" asp-action="AccountHeaderCreate" asp-controller="AccountHeader">

                <input type="hidden" asp-for="AccId" />
                <div class="form-group is-empty">
                    <label for="region" class="col-md-2 control-label">@Utils.GetLabel("Code")<span class="requried">*</span></label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" asp-for="Code">
                    </div>
                </div>
                <div class="form-group">
                    <label for="code" class="col-md-2 control-label">@Utils.GetLabel("Parent Account")<span class="requried">*</span></label>
                    <div class="col-md-7">
                        <select asp-for="ParentAccId" asp-items="@ViewData["ParentAccount"] as SelectList" class="form-control">
                            <option value="0">@Utils.GetLabel("Root")</option>
                        </select>
                    </div>
                </div>
                <div class="form-group is-empty">
                    <label for="region" class="col-md-2 control-label">
                        @Utils.GetLabel("Description(English)")<span class="requried">*</span>
                    </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" asp-for="EngName">
                    </div>
                </div>
                <div class="form-group is-empty">
                    <label for="region" class="col-md-2 control-label">
                        @Utils.GetLabel("Description(Nepali)")<span class="requried">*</span>
                    </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" asp-for="NepName" onkeypress="return setUnicode(event,this);">
                    </div>
                </div>
                <div class="form-group is-empty">
                    <label for="region" class="col-md-2 control-label">
                        @Utils.GetLabel("Description(Code)")<span class="requried">*</span>
                    </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" asp-for="Code">
                    </div>
                </div>
                  
                <div class="form-group form-action">
                    <div class="col-md-10 col-md-offset-2">
                        <button type="submit" class="btn btn-primary">@Utils.GetLabel("Submit")</button>
                        <button type="button" class="btn btn-default btn-close">@Utils.GetLabel("Cancel")</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>