@using IMIS_CORE.Core

@model IMIS_Service.ViewModel.ItemPurYearlyPlanVM

<div>
    <div>
        Yearly Plan Entry Date
    </div>

    <div class="form-group is-empty row">
        @*<div class="col-md-6">
            <label for="region" class="col-md-2 control-label">
                @Utils.GetLabel("Paln Id:")<span class="requried">*</span>
            </label>
            <div class="col-md-9">
                <input type="text" hidden class="form-control" readonly>
                <input type="text" hidden class="form-control" asp-for="Id">
            </div>
        </div>*@
        <input type="hidden" class="form-control" asp-for="Id">
        <div class="form-group is-empty">
            <label for="region" class="col-md-2 control-label">@Utils.GetLabel("Code")<span class="requried">*</span></label>
            <div class="col-md-9">
                @if (Model.Id > 0)
                {
                    <span>@Model.Code</span>
                }
                else
                {

                    <input type="text" class="form-control" asp-for="Code">
                }
            </div>
        </div>
        <div class="col-md-6">
            <label for="region" class="col-md-6 control-label">
                @Utils.GetLabel("Appx Amt Accepted Date")<span class="requried">*</span>
            </label>
            <div class="col-md-6">
                <div class="input-group date width-full">
                    <input type="text" asp-for="AprxAmtAcptDate" id="AprxAmtAcptDate1" autocomplete="off" class="form-control font_value" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <span asp-validation-for="AprxAmtAcptDate" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-group is-empty row">
        <div class="col-md-6">
            <label for="region" class="col-md-2 control-label">
                @Utils.GetLabel("Description(Nepali)")<span class="requried">*</span>
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" asp-for="NameNp" onkeypress="return setUnicode(event,this);">>
            </div>
        </div>
        <div class="col-md-6">
            <label for="region" class="col-md-6 control-label">
                @Utils.GetLabel("Notice Publish Date")<span class="requried">*</span>
            </label>
            <div class="col-md-6">
                <div class='input-group date width-full nepali-calendar'>
                    <input type="text" asp-for="InfoPublishDate" name="InfoPublishDate" id='InfoPublishDate' autocomplete="off" class="form-control font_value nepali-calendar" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <span asp-validation-for="InfoPublishDate" class="text-danger"></span>
            </div>

        </div>
    </div>

    <div class="form-group is-empty row">
        <div class="col-md-6">
            <label for="region" class="col-md-2 control-label">
                @Utils.GetLabel("Description(English)")<span class="requried">*</span>
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" asp-for="NameEn">
            </div>
        </div>
        <div class="col-md-6">
            <label for="region" class="col-md-6 control-label">
                @Utils.GetLabel("Tender Call Date")<span class="requried">*</span>
            </label>
            <div class="col-md-6">
                <div class='input-group date width-full nepali-calendar'>
                    <input type="text" asp-for="TendrSaleDate" id='TendrCallDtAd' autocomplete="off" class="form-control font_value nepali-calendar" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <span asp-validation-for="TendrSaleDate" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group is-empty row">
        <div class="col-md-6">
            <label for="region" class="col-md-6 control-label">
                @Utils.GetLabel("Appx Amount")<span class="requried">*</span>
            </label>
            <div class="col-md-6">
                <input type="text" class="form-control" asp-for="ApproxAmt">
            </div>
        </div>
        <div class="col-md-6">
            <label for="region" class="col-md-6 control-label">
                @Utils.GetLabel("From Reg Date")<span class="requried">*</span>
            </label>
            <div class="col-md-6">

                <div class='input-group date width-full nepali-calendar'>
                    <input type="text" asp-for="FormEntryDate" id='FormEntryDate' autocomplete="off" class="form-control font_value nepali-calendar" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <span asp-validation-for="FormEntryDate" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-group is-empty row">
        <div class="col-md-6">
            <label for="region" class="col-md-2 control-label">
                @Utils.GetLabel("Purchase Type")<span class="requried">*</span>
            </label>
            <div class="col-md-9">
                <select asp-for="PurType" asp-items="@ViewData["InvType"] as SelectList">
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <label for="region" class="col-md-6 control-label">
                @Utils.GetLabel("Tender Open Date")<span class="requried">*</span>
            </label>
            <div class="col-md-6">
                <div class='input-group date width-full nepali-calendar'>
                    <input type="text" asp-for="TendrOpenDate"  id='TendrOpenDtAd' autocomplete="off" class="form-control font_value nepali-calendar" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <span asp-validation-for="TendrOpenDate" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-group is-empty row">
        <div class="col-md-6">
            <label for="region" class="col-md-2 control-label">
                @Utils.GetLabel("Purchase Agree Type")<span class="requried">*</span>
            </label>
            <div class="col-md-9">
                <select asp-for="AgreementType" asp-items="@ViewData["InvType"] as SelectList">
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <label for="region" class="col-md-6 control-label">
                @Utils.GetLabel("Tender Accept Date")<span class="requried">*</span>
            </label>
            <div class="col-md-6">
                <div class='input-group date width-full nepali-calendar'>
                    <input type="text" asp-for="TendrAcceptDate" id='TendrAcceptDtAd' autocomplete="off" class="form-control font_value nepali-calendar" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <span asp-validation-for="TendrAcceptDate" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-group is-empty row">
        <div class="col-md-6">
            <label for="region" class="col-md-6 control-label">
                @Utils.GetLabel("Remarks")<span class="requried">*</span>
            </label>
            <div class="col-md-6">
                <input type="text" class="form-control" asp-for="Remarks">
            </div>
        </div>
        <div class="col-md-6">
            <label for="region" class="col-md-6 control-label">
                @Utils.GetLabel("Tender Finsih Date")<span class="requried">*</span>
            </label>
            <div class="col-md-6">

                <div class='input-group date width-full nepali-calendar'>
                    <input type="text" asp-for="TendrSaleDate"  id='TendrSaleDate' autocomplete="off" class="form-control font_value nepali-calendar" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <span asp-validation-for="TendrSaleDate" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-group is-empty row">
        <div class="col-md-6">
            <label for="region" class="col-md-6 control-label">
                @Utils.GetLabel("Analysis Design Date")<span class="requried">*</span>
            </label>
            <div class="col-md-6">

                <div class='input-group date width-full nepali-calendar'>
                    <input type="text" asp-for="WrkAcmplshDate" id='AnlysisDsgnDtAd' autocomplete="off" class="form-control font_value nepali-calendar" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <span asp-validation-for="WrkAcmplshDate" class="text-danger"></span>
            </div>
        </div>
        @*<div class="col-md-6">
                <label for="region" class="col-md-2 control-label">
                    @Utils.GetLabel("Tender Finsih Date")<span class="requried">*</span>
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" asp-for="TendrCallDtAd">
                </div>
            </div>*@
    </div>
</div>

<script type="text/javascript" src="~/nepaliDatepicker/js/nepali.datepicker.v2.2.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/nepaliDatepicker/css/nepali.datepicker.v2.2.min.css" />
<script>
    $(document).ready(function () {
        $('#AprxAmtAcptDate1').nepaliDatePicker(); 
        $('#InfoPublishDate').nepaliDatePicker();
        $('#TendrOpenDtAd').nepaliDatePicker();
        $('#FormEntryDate').nepaliDatePicker();
        $('#TendrAcceptDtAd').nepaliDatePicker();
        $('#TendrSaleDate').nepaliDatePicker();
        $('#AnlysisDsgnDtAd').nepaliDatePicker();
        $('#TendrCallDtAd').nepaliDatePicker();
    });
</script>