@page
@model LoginModel
@using Microsoft.AspNetCore.Identity
@using IMIS_DataEntity.EntityClass
@using IMIS_CORE.Core
@inject SignInManager<Usermaster> SignInManager
@inject UserManager<Usermaster> UserManager
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
@{
    ViewData["Title"] = "Log in";
    Layout = "";
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/util.css" rel="stylesheet" />
    <link href="~/css/admin.css" rel="stylesheet" />
    <link href="~/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body class="login">
    <div id="wrapper">
        <!-- Navigation -->
        <div class="login-wrapper">
            <div class="login-vertical-adjust">
                <div class="login-content">
                    <main role="main">

                        <div class="container">
                            <div class="row">
                                <div class="col-sm-8 col-md-6 centered">
                                    <div class="well">
                                        <div style="text-align:right;padding-top: 15px;padding-bottom: 1px;">
                                            @{ string lang = "English";
                                                Byte[] binForm;
                                                if (HttpContextAccessor.HttpContext.Session.TryGetValue("LanguageSetting", out binForm))
                                                    lang = System.Text.Encoding.UTF8.GetString(binForm);
                                                var langurl = "/" + lang + "/ChangeStatus.html";
                                            }
                                            <a id="changelanguage" href="@langurl" class="btn btn-default pull-right">@(Utils.Changelanguage())</a>
                                            
                                        </div>
                                        <div class="brand">
                                            <a class="platform-name" href="javascript:;">
                                                <figure><img src="~/images/GovLogo.png" alt="IMIS Logo"></figure>
                                                <span>@Utils.GetLabel("Inventory MIS")</span>
                                            </a>

                                            <div asp-validation-summary="All" class="text-danger"></div>

                                        </div>


                                        <div class="login-form">
                                            @*<form action="index.html">*@
                                            <form id="account" method="post">
                                                <div class="form-group">
                                                    <div class="col-md-9 centered">
                                                        @*<label>@Utils.GetLabel("EMAIL")</label>*@
                                                        <input asp-for="Input.Email" class="form-control" placeholder="@Utils.GetLabel("EMAIL")" />
                                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-md-9 centered">
                                                        <input asp-for="Input.Password" class="form-control" placeholder="@Utils.GetLabel("Password")" />
                                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                @*<div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>*@
                                                <div class="form-group form-action">
                                                    <div class="col-md-9 centered">
                                                        <button type="submit" class="btn btn-primary">Login</button>
                                                        <a id="forgot-password" asp-page="./ForgotPassword" class="btn btn-default pull-right">Forgot Password?</a>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.container-->

                    </main>
                    <!-- main ends -->
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery --> 
</body>
</html> 
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
